<!DOCTYPE html>

<!-- set the default language as English -->
<html lang="pl">

<head>

	<!-- tags for Search Engine Optimization -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="prywatność, anonimowość, narzędzia ochrony prywatności, nadzór, szyfrowanie, edward snowden, nsa, tor">
	<meta name="description" content="{{ site.description }}">

	<!-- referrer policy -->
	<meta name="referrer" content="no-referrer">

    <!-- title -->
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }} </title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

	<!-- icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/img/favicons/manifest.json">
	<link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- CSS stylesheets -->
	<link href="assets/css/style.css?v=5" rel="stylesheet">

	<!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
<![endif]-->

	<!-- Open Graph Protocol tags for SEO -->
	<meta property="og:title" content="Narzędzia prywatności | Szyfrowanie przeciwko globalnej masowej inwigilacji" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://privacytools.wojtekm.com/" />
	<meta property="og:image" content="https://www.privacytools.io/assets/img/layout/ogimage.jpg" />
	<meta property="og:description" content="Jesteś obserwowany! Narzędzia do wiedzy, szyfrowania i prywatności, które chronią Cię przed globalnym masowym inwigilacją."/>
	<meta property="og:locale" content="pl_PL" />
	<meta property="og:site_name" content="privacytools.wojtekm.com" />
</head>

<body data-spy="scroll" data-target="#navbar">
<!-- navigation starts -->

<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% assign prefix = "" %}
        {% if page.active_page %}
        {% assign prefix = "index.html" %}
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{prefix}}#top"><i class="fas fa-home"></i> <span class="sr-only">Strona główna</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="providerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dostawca
          </a>
          <div class="dropdown-menu" aria-labelledby="providerDropdown">
            <a class="dropdown-item" href="{{prefix}}#ukusa"><i class="fab fa-creative-commons-nc"></i> Unikaj wszystkich usług opartych na USA i Wielkiej Brytanii</a>
            <a class="dropdown-item" href="{{prefix}}#vpn"><i class="far fa-eye-slash"></i> Virtual Private Network (VPN)</a>
            <a class="dropdown-item" href="{{prefix}}#email"><i class="fas fa-mail-bulk"></i> E-mail dotyczący prywatności</a>
            <a class="dropdown-item" href="{{prefix}}#wc"><i class="fa fa-exclamation-circle"></i> Warrant Canaries</a>
            <a class="dropdown-item" href="{{prefix}}#cloud"><i class="fas fa-cloud"></i> Usługi szyfrowane Cloud Storage</a>
            <a class="dropdown-item" href="{{prefix}}#social"><i class="fas fa-expand-arrows-alt"></i> Zdecentralizowane sieci społecznościowe</a>
            <a class="dropdown-item" href="{{prefix}}#dns"><i class="fa fa-tasks"></i> System nazw domen (DNS)</a>
            <a class="dropdown-item" href="{{prefix}}#search"><i class="fab fa-searchengin"></i> Prywatność poszanowanie wyszukiwarek</a>
            <a class="dropdown-item" href="{{prefix}}#host"><i class="fas fa-database"></i> Bezpieczni dostawcy hostingu</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="browserDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Przeglądarka
          </a>
          <div class="dropdown-menu" aria-labelledby="browserDropdown">
            <a class="dropdown-item" href="{{prefix}}#browser"><i class="fas fa-check"></i> Zalecane</a>
            <a class="dropdown-item" href="{{prefix}}#fingerprint"><i class="fas fa-fingerprint"></i> Odcisk palca</a>
            <a class="dropdown-item" href="{{prefix}}#webrtc"><i class="far fa-eye"></i> Przeciek WebRTC IP</a>
            <a class="dropdown-item" href="{{prefix}}#addons"><i class="far fa-list-alt"></i> Firefox Privacy Add-ons</a>
            <a class="dropdown-item" href="{{prefix}}#about_config"><i class="fas fa-wrench"></i> Poprawki związane z prywatnością</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="softwareDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Oprogramowanie
          </a>
          <div class="dropdown-menu" aria-labelledby="softwareDropdown">
            <a class="dropdown-item" href="{{prefix}}#clients"><i class="fas fa-envelope"></i> Email Clients</a>
            <a class="dropdown-item" href="{{prefix}}#messaging"><i class="fas fa-random"></i> Email Alternatives</a>
            <a class="dropdown-item" href="{{prefix}}#im"><i class="fab fa-telegram-plane"></i> Instant Messenger</a>
            <a class="dropdown-item" href="{{prefix}}#voip"><i class="fas fa-phone"></i> Komunikator wideo i głosowy</a>
            <a class="dropdown-item" href="{{prefix}}#filesharing"><i class="fas fa-file-export"></i> File Sharing</a>
            <a class="dropdown-item" href="{{prefix}}#mycloud"><i class="fas fa-hdd"></i> Self-Hosted Cloud Server</a>
            <a class="dropdown-item" href="{{prefix}}#sync"><i class="fas fa-copy"></i> Secure File Sync</a>
            <a class="dropdown-item" href="{{prefix}}#pw"><i class="fas fa-user-lock"></i> Password Manager</a>
            <a class="dropdown-item" href="{{prefix}}#calendar_contacts"><i class="far fa-calendar-alt"></i> Calendar and Contacts Sync</a>
            <a class="dropdown-item" href="{{prefix}}#encrypt"><i class="fas fa-lock"></i> File Encryption</a>
            <a class="dropdown-item" href="{{prefix}}#darknets"><i class="fas fa-user-secret"></i> Self-contained Networks</a>
            <a class="dropdown-item" href="{{prefix}}#notebook"><i class="far fa-sticky-note"></i> Digital Notebook</a>
            <a class="dropdown-item" href="{{prefix}}#paste"><i class="fas fa-paste"></i> Paste Services</a>
            <a class="dropdown-item" href="{{prefix}}#productivity"><i class="fas fa-briefcase"></i> Productivity Tools</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="osDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            System
          </a>
          <div class="dropdown-menu" aria-labelledby="osDropdown">
            <a class="dropdown-item" href="{{prefix}}#os"><i class="fas fa-th-large"></i> PC OS</a>
            <a class="dropdown-item" href="{{prefix}}#live_os"><i class="fas fa-compact-disc"></i> Live CD OS</a>
            <a class="dropdown-item" href="{{prefix}}#mobile_os"><i class="fas fa-mobile-alt"></i> Mobile OS</a>
            <a class="dropdown-item" href="{{prefix}}#aaddons"><i class="fas fa-th"></i> Android Privacy Add-ons</a>
            <a class="dropdown-item" href="{{prefix}}#firmware"><i class="fas fa-signal"></i> Router Firmware</a>
            <a class="dropdown-item" href="{{prefix}}#win10"><i class="far fa-thumbs-down"></i> Don't use Windows 10</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#participate">Participate</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if page.active_page == "donate" %}
        <li class="nav-item active">
          <a class="nav-link" href="#">Podaruj <i class="fas fa-heart text-danger"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="donate.html">Podaruj <i class="fas fa-heart text-danger"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- navigation ends here -->

<div id="top" class="py-4">
<div class="mb-5"></div>
{{ content }}
</div>

<!-- add jQuery, Popper, Bootstrap, Sortable, and tooltip libraries  -->
<script src="assets/js/jquery-3.3.1.min.js?v=4"></script>
<script src="assets/js/popper.min.js?v=4"></script>
<script src="assets/js/bootstrap.min.js?v=4"></script>
<script src="assets/js/sortable.min.js?v=4"></script>
<script>
	$(function() {
		$("[data-toggle='tooltip']").tooltip();
	});
</script>

<!--
Piwik is the leading open-source analytics platform:
- Free open-source software
- 100% data ownership
- User privacy protection
-->
<script>
var _paq = _paq || [];
/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
var u="//piwik.privacytools.io/";
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['setSiteId', '1']);
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
</script>
<noscript><p><img src="//piwik.privacytools.io/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
